@import "tailwindcss";

@theme {
  --color-primary-text: #cdd6f4;
  --color-secondary-text: #ffffff;
  --color-primary: #181825;
  --color-secondary: #1e1e2e;
  --color-accent: #155dfc;
  --color-success: #3bfc15;
  --color-error: #fc1515;
  --color-warning: #fcbe15;
}

body {
    user-select: none; /* Standard syntax */
    background-color: var(--color-primary);
    color: var(--color-primary-text);
}

*::-webkit-scrollbar {
  padding-top: 2rem;
  height: 0.1rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-secondary);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--color-primary-text);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--color-primary-text);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-accent);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-accent);
}
button:not(:disabled) {
  cursor: pointer;
}